### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [17]:

player_count = len(purchase_data_df["SN"].unique())

count_table = pd.DataFrame({"Total Players": [player_count]})

count_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:

unique_items = len((purchase_data_df["Item ID"]).unique())
average_price = (purchase_data_df["Price"]).mean()
purchases= len(purchase_data_df["Purchase ID"])
total= (purchase_data_df["Price"]).sum()




Table= pd.DataFrame({"Number of Unique Items": [unique_items],
                    "Average Price": [average_price],
                    "Number of Purchases":[purchases],
                    "Total Revenue":[total]})


Table.style.format({'Total Revenue':'${0:,.2f}','Average Price':'${0:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
gender = purchase_data_df.groupby("Gender")

gender_count= gender.nunique()["SN"]

Precent= gender_count/player_count * 100

gender_info= pd.DataFrame({"Percentage of Players": Precent ,
                           "Total Count": gender_count})

gender_info.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"%{:.1f}"})


## Purchasing Analysis (Gender)



* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
purchase_count= gender["Purchase ID"].count()
    
average_price= gender["Price"].mean()

purchase_total = gender["Price"].sum()

Ave_per_person= purchase_total/ gender_count

Gender_info=pd.DataFrame({"Purchase Count": purchase_count,
                         "Average Purchase Price": average_price,
                        "Average Purchase Value": purchase_total,
                         "Avg Purchase Total per Person":Ave_per_person})

Gender_info.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]

age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"],ages, labels=age_groups)
purchase_data_df

ages_group= purchase_data_df.groupby("Age Group")

age_count= ages_group["SN"].nunique()

 
procent_player= (age_count / player_count) * 100

age_info= pd.DataFrame({"Percentage of Players": procent_player,
                       "Total Count": age_count })

age_info.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
perchase_count=ages_group["Purchase ID"].count()

purchase_price=ages_group["Price"].mean()

purchase_value=ages_group["Price"].sum()

avg_purchase_age= purchase_value/age_count


age_analysis= pd.DataFrame({"Purchase Count": perchase_count,
                           "Average Purchase Price": purchase_price,
                          "Total Purchase Value": purchase_value,
                          "Average Purchase Total per Person by Age Group":avg_purchase_age})

age_analysis.style.format({"Average Purchase Price":"${:,.2f}",
                          "Total Purchase Value":"${:,.2f}",
                          "Average Purchase Total per Person by Age Group":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
spender= purchase_data_df.groupby("SN")

spender_count= spender["Purchase ID"].count()

spender_ave= spender["Price"].mean()

spender_total=spender["Price"].sum()

top_spenders=pd.DataFrame({"Purchase Count":spender_count,
                           "Average Purchase Price": spender_ave,
                           "Total Purchase Value" : spender_total})


Format= top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

Format.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [30]:
items= purchase_data_df[["Item ID", "Item Name", "Price"]]

items_info= items.groupby(["Item ID", "Item Name"])

item_count= items_info["Price"].count()

item_value= items_info["Price"].sum()

item_price= item_value/ item_count

popilar_items= pd.DataFrame({"Purchase Count": item_count,
                            "Item Price": item_price,
                            "Total Purchase Value": item_value})

pop_format=popilar_items.sort_values(["Purchase Count"], ascending=False).head()


pop_format.style.format({"Item Price": "${:,.2f}",
                        "Total Purchase Value": "${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [31]:
pop_format=popilar_items.sort_values(["Total Purchase Value"], ascending=False).head()

pop_format.style.format({"Item Price": "${:,.2f}",
                        "Total Purchase Value": "${:,.2f}"})